doctype html
html(ng-app='app1')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    block head
  body
    block content
    block scripts
